@font-face {
     font-family: 'Google Sans Text';
     font-style: normal;
     font-weight: 500;
     src: url(img/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Google Sans Text';
}

html,
body {
     width: 100%;
     height: 100vh;
     margin: 0;
     background: #fff;
     scroll-behavior: smooth;
}

.flex {
     display: flex;
     justify-content: center;
     padding-top: 36px;
}

/* Left */

/* Hamburger */

.hamburger {
     position: absolute;
     top: 19%;
     left: 0%;
     font-size: 21px;
     cursor: pointer;
     display: none;
}

/* Cancel */

.cancel-btn {
     font-size: 1.2rem;
     cursor: pointer;
     color: #444746;
     padding: 4px 8px;
     border-radius: 50%;
     line-height: 1;
     font-weight: 400;
     position: absolute;
     right: 8px;
     display: none;
}

#productivity {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.left {
     margin-right: 48px;
     width: 256px;
}

.sec {
     margin-left: -22px;
     width: 230px;
     margin-top: 28px;
}

.left-ul {
     margin: 0;
     padding-block: 8px;
     padding-inline: 0;
     list-style-type: none;
}


.left-heading {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 500;
     letter-spacing: 0;
     line-height: 2.5rem;
     margin-block: 0;
     padding: 0 24px;
     pointer-events: none;
     text-align: left;
     display: flex;
     justify-content: flex-start;
}

.li {
     display: flex;
     padding: 10px;
     padding-left: 22px;
     position: relative;
     justify-content: flex-start;
     align-items: center;
     overflow: visible;
     text-decoration: none;
     cursor: pointer;
     border-radius: 20px;
     color: #1f1f1f;
}

.li:hover {
     background-color: rgba(2, 6, 23, 0.06);
}

.li-content {
     font-family: 'Google Sans Text';
     font-size: 0.9rem;
     font-weight: 300;
     line-height: 1.5rem;
     letter-spacing: 0;
     color: #1f1f1f;
     font-variation-settings: initial;
}

.seperator {
     padding-block: 0;
     padding-inline: 0;
     background-clip: content-box;
     background-color: #e1e3e1;
     height: 1px;
     margin: 20px 0;
}

.seperator::marker {
     content: "";
}

.blue {
     background-color: #c2e7ff;
}

.blue:hover {
     background-color: #bbd8ec;
}

/* Right */

.exts {
     align-items: center;
     display: flex;
     flex-direction: column;
     flex-grow: 1;
     margin-bottom: 64px;
     max-width: 1072px;
     min-width: 880px;
     padding-right: 48px;
}

.grid {
     display: grid;
     gap: 16px 21.3333333333px;
     grid-template-columns: repeat(4, minmax(0, 1fr));
     justify-content: space-between;
     width: 100%;
}

.grid-heading {
     display: grid;
     gap: 16px 21.3333333333px;
     grid-column: 1/-1;
     grid-template-columns: repeat(4, minmax(0, 1fr));
     grid-template-rows: 40px;
     justify-content: space-between;
     margin-bottom: 8px;
     margin-top: 34px;
     width: 100%;
}

.grid-heading-content {
     grid-area: 1/1/1/3;
     margin-right: 8px;
     font-family: 'Google Sans Text';
     font-size: 2rem;
     letter-spacing: 0;
     line-height: 2.5rem;
     font-weight: 600;
     margin: 0;
}

/* Filter */

.dropdown {
     position: relative;
     display: inline-block;
     min-width: 212px;
     user-select: none;
}

.dropdown label {
     font-family: 'Google Sans Text';
     position: absolute;
     top: -7px;
     left: 14px;
     background-color: #fff;
     padding: 0 6px;
     font-size: 12px;
     color: #5f6368;
     font-weight: 500;
     pointer-events: none;
     transition: color 0.2s ease;
     z-index: 1;
}

.dropdown .selected {
     border: 1px solid #dadce0;
     border-radius: 22px;
     padding: 12px 38px 10px 14px;
     background-color: #fff;
     color: #202124;
     font-size: 1rem;
     font-weight: 400;
     cursor: pointer;
     position: relative;
     transition: all 0.25s ease;
}

.dropdown .selected:hover {
     border: 1px solid #000;
}

.dropdown .arrow {
     position: absolute;
     right: 16px;
     top: 50%;
     transform: translateY(-50%) rotate(0deg);
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 6px solid #5f6368;
     transition: transform 0.25s ease, border-top-color 0.25s ease;
}

.dropdown .menu {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     background-color: #f0f4f9;
     border-radius: 4px;
     margin-top: 6px;
     overflow: hidden;
     display: none;
     flex-direction: column;
     animation: fadeIn 0.2s ease;
     z-index: 5;
     padding: 6px;
}

@keyframes fadeIn {
     from {
          opacity: 0;
          transform: translateY(-5px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

.dropdown .menu div {
     padding: 10px 16px;
     font-size: 14px;
     color: #202124;
     cursor: pointer;
     transition: background-color 0.15s ease;
}

.dropdown .menu div:hover {
     background-color: rgba(2, 6, 23, 0.06);
}

.dropdown.click .selected {
     border-color: #1a73e8;
}

.dropdown.click label {
     color: #1a73e8;
}

.dropdown.click .arrow {
     transform: translateY(-50%) rotate(180deg);
     border-top-color: #1a73e8;
}

.dropdown.click .menu {
     display: flex;
}

.all {
     background-color: rgba(2, 6, 23, 0.09);
}

.all:hover {
     background-color: rgba(2, 6, 23, 0.03);
}

/* Keepa */

.keepa {
     background-color: #f0f4f9;
     border-radius: 20px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     max-width: 252px;
     position: relative;
}

.keepa::before {
     border-radius: inherit;
     content: "";
     display: block;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
}

.keepa:hover::before {
     background-color: #444746;
     opacity: .08;
}

.keepa-link {
     border-radius: 20px;
     height: 100%;
     outline: none;
     position: absolute;
     width: 100%;
}

.keepa-content {
     display: flex;
     flex-direction: column;
     padding: 16px;
}

.keepa-img {
     aspect-ratio: 1.5714285714;
     border-radius: 12px;
     width: 100%;
}

.keepa-para {
     -webkit-box-orient: vertical;
     display: -webkit-box;
     line-clamp: 1;
     overflow: hidden;
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     font-variant-ligatures: none;
     font-weight: 500;
     margin: 12px 0 0;
     min-height: 1.5rem;
}

.keepa-lines {
     -webkit-box-orient: vertical;
     display: -webkit-box;
     line-clamp: 2;
     overflow: hidden;
     font-family: 'Google Sans Text';
     font-size: .875rem;
     font-weight: 200;
     letter-spacing: 0;
     line-height: 1.25rem;
     font-variant-ligatures: none;
     margin: 8px 0 0;
     min-height: 2.5rem;
}

/* Load More */

.load-more {
     background-color: transparent;
     color: #1a73e8;
     border: none;
     padding: 10px 24px;
     border-radius: 999px;
     font-size: 14px;
     font-weight: 500;
     cursor: pointer;
     transition: background 0.2s, box-shadow 0.2s;
     margin-top: 32px;
}

.load-more:hover {
     background-color: #f5f6ff;
}

#grid {
     display: none;
}

/* On top */

#backToTop {
     bottom: 28px;
     position: fixed;
     right: 36px;
     padding: 10px 20px;
     font-size: 14px;
     border: 1px solid #ccc;
     border-radius: 30px;
     background-color: transparent;
     color: #0b57d0;
     cursor: pointer;
     opacity: 0;
     pointer-events: none;
     transition: opacity 0.3s ease;
     text-align: center;
}

#backToTop.show {
     opacity: 1;
     pointer-events: auto;
}

#backToTop:hover {
     background-color: rgba(2, 6, 23, 0.03);
     border-color: #444746;
}

.btn-flex {
     display: flex;
     align-items: center;
     gap: 12px;
}

/* Responsive */

@media (max-width: 1024px) {

     .nav-items {
          justify-content: space-between;
          gap: 18px;
     }

     .main,
     .grid {
          width: 100% !important;
     }

     .grid {
          grid-template-columns: repeat(3, minmax(0, 1fr));
     }

     .navbar {
          z-index: 2;
     }

     .sec {
          display: none;
          padding-left: 12px;
          margin-top: -64px;
     }

     .search-icon {
          margin-left: 180px;
     }

     .exts {
          min-width: 0 !important;
          margin-left: 32px;
     }

     #backToTop {
          display: none;
     }

     .btn-flex {
          gap: 0px;
     }

     .grid-heading {
          display: flex;
          flex-direction: column;
     }

     .grid-heading-content {
          text-align: center;
     }

     .keepa {
          width: 332px;
          max-width: 100%;
     }

     .seperator {
          margin: 20px -70px;
     }

     .flex {
          display: block;
     }

     .footer-ul {
          margin-top: 24px;
     }
}

@media (max-width: 768px) {

     .nav-items {
          justify-content: normal;
          gap: 18px;
     }

     .main,
     .grid {
          width: 100% !important;
     }

     .grid {
          grid-template-columns: repeat(2, minmax(0, 1fr));
     }

     .navbar {
          z-index: 2;
     }

     .sec {
          display: none;
          padding-left: 12px;
          margin-top: -64px;
     }

     .search-icon {
          margin-left: 180px;
     }

     .exts {
          min-width: 0 !important;
          margin-left: 32px;
     }

     #backToTop {
          display: none;
     }

     .btn-flex {
          gap: 0px;
     }

     .grid-heading {
          display: flex;
          flex-direction: column;
     }

     .grid-heading-content {
          text-align: center;
     }

     .keepa {
          width: 332px;
          max-width: 100%;
     }

     .seperator {
          margin: 20px -70px;
     }

     .flex {
          display: block;
     }

     .footer-ul {
          margin-top: 24px;
     }
}

@media (max-width: 430px) {

     .main,
     .grid {
          width: 100% !important;
     }

     .grid {
          grid-template-columns: repeat(1, minmax(0, 1fr));
     }

     .navbar {
          z-index: 2;
     }

     .hamburger {
          top: 16%;
          left: 82%;
     }

     .hamburger,
     .cancel-btn {
          display: block;
     }

     .left {
          position: fixed;
          top: 0;
          left: -260px;
          height: 100vh;
          width: 256px;
          background-color: #fff;
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
          z-index: 1000;
          transition: left 0.4s ease;
          padding-top: 60px;
          overflow-y: auto;
          display: block !important;
     }

     .left.left-active {
          left: 0;
     }

     .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          z-index: 900;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.4s ease;
     }

     .overlay.show {
          opacity: 1;
          pointer-events: auto;
     }

     .sec {
          display: none;
          padding-left: 12px;
          margin-top: -64px;
     }

     .search-icon {
          margin-left: 180px;
     }

     .exts {
          min-width: 0 !important;
          margin-left: 32px;
     }

     #backToTop {
          display: none;
     }

     .btn-flex {
          gap: 0px;
     }

     .grid-heading {
          display: flex;
          flex-direction: column;
     }

     .grid-heading-content {
          text-align: center;
     }

     .keepa {
          width: 332px;
          max-width: 100%;
     }

     .seperator {
          margin: 20px -70px;
     }

     .flex {
          display: block;
     }

     .footer-ul {
          margin-top: 24px;
     }
}

@media (max-width: 400px) {

     .main,
     .grid {
          width: 100% !important;
     }

     .grid {
          grid-template-columns: repeat(1, minmax(0, 1fr));
     }

     .navbar {
          z-index: 2;
     }

     .hamburger {
          top: 16%;
          left: 80%;
     }

     .hamburger,
     .cancel-btn {
          display: block;
     }

     .left {
          position: fixed;
          top: 0;
          left: -260px;
          height: 100vh;
          width: 256px;
          background-color: #fff;
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
          z-index: 1000;
          transition: left 0.4s ease;
          padding-top: 60px;
          overflow-y: auto;
          display: block !important;
     }

     .left.left-active {
          left: 0;
     }

     .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background: rgba(0, 0, 0, 0.3);
          z-index: 900;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.4s ease;
     }

     .overlay.show {
          opacity: 1;
          pointer-events: auto;
     }

     .sec {
          display: none;
          padding-left: 12px;
          margin-top: -64px;
     }

     .search-icon {
          margin-left: 150px;
     }

     .exts {
          min-width: 0 !important;
          margin-left: 32px;
     }

     #backToTop {
          display: none;
     }

     .btn-flex {
          gap: 0px;
     }

     .grid-heading {
          display: flex;
          flex-direction: column;
     }

     .grid-heading-content {
          text-align: center;
     }

     .keepa {
          width: 332px;
          max-width: 100%;
     }

     .seperator {
          margin: 20px -70px;
     }

     .flex {
          display: block;
     }

     .footer-ul {
          margin-top: 24px;
     }
}