@font-face {
     font-family: 'Google Sans Text';
     font-style: normal;
     font-weight: 200;
     src: url(img/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Google Sans Text';
}

.block {
     display: block;
     flex-grow: 1;
     width: 100%;
}

/* Keepa */

.keepa-main-header {
     padding-top: 66px;
}

.keepa-main-content-box {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;
     margin: 0 auto 24px;
     max-width: 1072px;
     position: relative;
}

.keepa-main-content {
     max-width: 1072px;
     width: 100%;
}

/* First line */

.first-line {
     display: flex;
     justify-content: space-between;
     margin-bottom: 24px;
}

.first-line-content {
     align-items: center;
     color: inherit;
     display: flex;
     max-width: 800px;
}

.first-line-img {
     border-radius: 8px;
     height: 60px;
     margin-right: 16px;
     width: 60px;
}

.first-line-heading {
     font-family: 'Google Sans Text';
     font-size: 2rem;
     letter-spacing: 0;
     font-variant-ligatures: none;
     font-weight: 700;
     line-height: 41px;
     margin: initial;
     color: #000;
}

.keepa-btn {
     display: inline-block;
     min-width: 192px;
     padding-top: 6px;
     text-align: right;
}

.keepa-btn-chrome {
     font-family: 'Google Sans Text';
     font-size: 12px;
     font-weight: 600;
     display: inline-flex;
     position: relative;
     align-items: center;
     box-sizing: border-box;
     border: none;
     outline: none;
     background-color: #0b57d0;
     color: #fff;
     padding: 12px 20px;
     border-radius: 30px;
     cursor: pointer;
     transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.keepa-btn-chrome:hover {
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/* Second Line */

.second-line {
     display: flex;
     align-items: center;
     margin-bottom: 12px;
}

.keepa-com {
     display: flex;
}

.keepa-align {
     height: 28px;
     margin-right: 2px;
}

.verify-svg {
     fill: #0b57d0;
     border-radius: 10px;
     padding: 2px;
     box-sizing: border-box;
     cursor: pointer;
}

.verify-svg:hover {
     background-color: rgba(11, 87, 208, 0.08);
     border-radius: 50%;
}

.keepa-a {
     font-family: 'Google Sans Text';
     color: #0b57d0;
     cursor: pointer;
     font-variant-ligatures: none;
     font-size: 16px;
     font-weight: 400;
     margin-right: 16px;
     max-width: 400px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     text-decoration: none;
}

.feature-svg {
     fill: #146c2e;
     border-radius: 10px;
     padding: 2px;
     box-sizing: border-box;
     cursor: pointer;
}

.feature-svg:hover {
     background-color: rgba(244, 248, 242, 0.8);
     border-radius: 50%;
}

.ext-rate {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
}

.rate {
     display: flex;
     align-items: center;
     color: #1f1f1f;
     height: 18px;
}

.rating-span {
     display: flex;
     align-items: center;
}

.rating-digits {
     font-weight: 500;
     margin-right: 2px;
}

.rating-link-span {
     margin-left: 3px;
}

.rating-link {
     color: #0b57d0;
     text-decoration: none;
}

.rating-link-para {
     display: inline;
}

.inline {
     display: inline;
}

.share-btn {
     display: flex;
     gap: 6px;
     font-size: 1rem;
     font-weight: 400;
     margin-inline-start: 4px;
     cursor: pointer;
     outline: none;
     border: none;
     background: transparent;
     padding: 8px 10px;
     border-radius: 20px;
     transition: background-color 0.3s ease, color 0.3s ease;
}

.share-btn:hover {
     background-color: #e8ebff;
}

.share-svg-span {
     display: inline-flex;
     line-height: 0;
     position: relative;
     color: #0b57d0;
}

.share-svg-span svg {
     display: inline-flex;
     position: relative;
     direction: inherit;
     color: inherit;
     font-size: 18px;
     inline-size: 18px;
     block-size: 18px;
}

.share-span {
     color: #0b57d0;
     text-align: center;
}

/* Third Line */

.third-line {
     align-items: center;
     display: flex;
     font-family: 'Google Sans Text';
     font-size: .875rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.25rem;
}

.third-line-link,
.third-line-second {
     background-color: #f0f4f9;
     color: #1f1f1f;
     cursor: pointer;
     text-decoration: none;
}

.third-line-link:hover,
.third-line-second:hover {
     background-color: rgba(0, 0, 0, 0.08);
}

.third-line-link::before,
.third-line-second::before {
     border-radius: inherit;
     content: "";
     display: block;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
}

.third-line-a {
     font-family: 'Google Sans Text';
     font-size: .875rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.25rem;
     border-radius: 8px;
     margin-right: 8px;
     padding: 8px 12px;
     position: relative;
}

.third-line-a:last-child {
     margin-right: 12px;
}

/* Swiper */

.keepa-swiper {
     align-items: center;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     margin: 44px auto;
     max-width: 1344px;
}

.keepa-swiper-div {
     align-items: center;
     display: flex;
     gap: 4px;
     justify-content: center;
     margin-bottom: 24px;
     width: 100%;
}

.arrow-left {
     display: flex;
     justify-content: center;
}

.arrow-left-btn {
     color: #444746;
     align-items: center;
     appearance: none;
     background: transparent;
     border: none;
     box-sizing: border-box;
     cursor: pointer;
     display: inline-flex;
     fill: currentColor;
     justify-content: center;
     line-height: inherit;
     outline: none;
     position: relative;
     text-rendering: inherit;
     user-select: none;
}

.arrow-left-btn::before {
     border-radius: inherit;
     border: 1px solid transparent;
     box-sizing: border-box;
     content: "";
     inset: 0;
     pointer-events: none;
     position: absolute;
     z-index: 1;
}

.arrow-left-btn:hover::before {
     background-color: rgba(0, 0, 0, 0.06);
     border-radius: 50%;
}

.keepa-swiper-container {
     flex: 1;
     max-width: 1256px;
     overflow: hidden;
}

.second-swiper {
     display: flex;
     gap: 3%;
     width: 100%;
     position: relative;
}

.main-img-box {
     align-items: center;
     display: flex;
     filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .3));
     flex-shrink: 0;
     width: 48.5%;
}

.main-img-box-align {
     box-sizing: border-box;
     cursor: pointer;
     max-width: 609px;
     outline: none;
     position: relative;
     width: 100%;
     padding: 8px;
}

.main-img {
     aspect-ratio: 1.6;
     background-color: white;
     border-radius: 6px;
     box-sizing: border-box;
     object-fit: cover;
     width: 100%;
}

.relative {
     position: relative;
}

.play-btn {
     align-items: center;
     background-color: rgba(0, 0, 0, .45);
     border-radius: 50%;
     display: flex;
     height: 56px;
     justify-content: center;
     left: calc(50% - 28px);
     position: absolute;
     top: calc(50% - 28px);
     width: 56px;
}

.IrAx3c {
     color: white;
}

.thumbnail {
     display: flex;
     gap: 3%;
     justify-content: center;
}

.thumbnail-div {
     box-sizing: border-box;
     cursor: pointer;
     flex: 1;
     max-width: 96px;
     min-width: 14%;
     outline: none;
     position: relative;
}

.thumbnail-active {
     border-radius: 6px;
     outline: 3px solid #0b57d0;
}

.thumbnail-img {
     aspect-ratio: 1.6;
     border-radius: 6px;
     display: block;
     width: 100%;
}

.thumbnail-span {
     background-color: white;
     border-radius: 6px;
     inset: 0;
     opacity: 0;
     position: absolute;
}

.thumbnail-span:hover {
     opacity: .24;
}

/* .body-main-img-div {
     min-width: 280px;
     height: 100%;
     min-height: unset;
     position: relative;
     display: flex;
     flex-direction: column;
     flex-grow: 0;
     flex-shrink: 0;
     box-sizing: border-box;
     pointer-events: auto;
     overflow-y: auto;
     outline: 0;
     text-align: start;
     transform: scale(.8);
}

.body-main-img-div::after {
     position: absolute;
     box-sizing: border-box;
     width: 100%;
     height: 100%;
     inset-block-start: 0;
     inset-inline-start: 0;
     border: 2px solid transparent;
     border-radius: inherit;
     content: "";
     pointer-events: none;
}

.body-main-img {
     display: none;
     max-width: 100%;
     min-width: 640px;
     border-radius: 36px;
}

.overlay {
     opacity: 0;
     z-index: -1;
     background-color: rgba(0, 0, 0, .32);
}

.overlay {
     position: fixed;
     top: 0;
     left: 0;
     align-items: center;
     box-sizing: border-box;
     width: 100%;
     height: 100%;
} */

/* OverView */

.overview {
     border-bottom: 1px solid #c4c7c5;
     margin: 0 auto;
     max-width: 1072px;
     box-sizing: border-box;
}

.overview-head {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.overview-heading {
     font-family: 'Google Sans Text';
     font-size: 1.75rem;
     font-weight: 700;
     letter-spacing: 0;
     line-height: 2.25rem;
}

.overview-content {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5rem;
     padding-top: 24px;
     padding-bottom: 14px;
}

.overview-paragraphs.overview-para {
     max-height: 248px;
     overflow: hidden;
     mask: linear-gradient(rgb(255, 255, 255) 85%, transparent);
     transition: max-height 0.6s ease-in-out, mask 0.4s ease-in-out;
}

.overview-paragraphs.expanded {
     max-height: 1000px;
     mask: none;
}

.overview-paragraphs p {
     margin-bottom: 1rem;
     color: #202124;
}

.overview-highlight {
     font-weight: 500;
     margin: 1rem 0;
}

.overview-see {
     color: #444746;
     text-decoration: underline;
     cursor: pointer;
     padding: 1.75rem 0;
     width: fit-content;
}

.overview-hide {
     display: none;
}

/* Reviews */

.review {
     border-bottom: 1px solid #c4c7c5;
     box-sizing: border-box;
     margin: 0 auto;
     max-width: 1072px;
}

.review-content {
     display: flex;
     align-items: center;
     font-weight: 500;
     padding-top: 20px;
}

.review-heading.review-head {
     margin-bottom: 16px;
}

.review-heading {
     font-family: 'Google Sans Text';
     font-size: 1.75rem;
     letter-spacing: 0;
     line-height: 2.25rem;
     font-weight: 700;
}

.review-span {
     display: flex;
}

.or8rae {
     margin-left: 4px;
}

.B1UG8d {
     align-items: center;
     color: #1f1f1f;
     display: flex;
}

.GEClwc {
     position: relative;
}

.oJSDn {
     display: flex;
}

.aQJXB {
     display: flex;
     overflow: hidden;
     position: absolute;
     top: 0;
}

.five-k {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     color: #444746;
}

.five-k::after {
     content: "•";
     margin: 0 8px;
}

.review-para {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     color: #444746;
     display: inline-block;
     margin: 0;
}

.review-link {
     color: #444746;
     text-decoration: underline;
}

/* Details */

.detail {
     border-bottom: 1px solid #c4c7c5;
     box-sizing: border-box;
     margin: 0 auto;
     max-width: 1072px;
}

.detail-head {
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-weight: 500;
     padding-top: 20px;
}

.detail-heading {
     font-family: 'Google Sans Text';
     font-size: 1.75rem;
     letter-spacing: 0;
     line-height: 2.25rem;
     font-weight: 500;
}

.detail-grid {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     margin-bottom: 16px;
}

.ul-grid {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     column-gap: 40px;
     display: grid;
     grid-auto-flow: column;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(5, min-content);
     margin: 0;
     padding: 24px 24px 0 0;
}

.ecmXy {
     grid-area: auto / 1 / auto / 2;
     min-width: 0;
}

.MqICNe {
     color: #444746;
     line-height: 24px;
     list-style: none;
     margin-bottom: 24px;
}

.uBIrad,
.Xoq1oc {
     grid-area: auto / 1 / auto / 2;
}

.pePfEc {
     grid-area: auto / 1 / auto / 1;
}

.T7iRm,
.ZSMSLb,
.FFG5Td {
     grid-area: auto / 2 / auto / 3;
}

.T7iRm,
.ZSMSLb,
.FFG5Td {
     grid-area: auto / 2 / auto / 3;
}

.yyjN4 {
     display: flex;
     flex-direction: column;
     grid-area: span 5 / span 1;
}

.GskXhb {
     grid-area: 1 / auto / 4 / auto;
}

.rBrF0e {
     grid-area: span 2 / span 1;
}

.QDHp8e {
     align-items: center;
     display: flex;
     font-weight: 500;
}

.nBZElf {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}

.QDHp8e {
     align-items: center;
     display: flex;
     font-weight: 500;
     gap: 4px;
}

.detail-flex {
     display: flex;
}

.detail-none {
     display: none;
}

.X4yNFb {
     color: #444746;
     text-decoration: underline;
}

.yyjN4 {
     display: flex;
     flex-direction: column;
     grid-area: span 5/span 1;
}

.mdSapd {
     font-variant-ligatures: none;
     margin-bottom: 16px;
}

.Qk4pd {
     color: #444746;
     align-items: center;
     cursor: pointer;
     display: flex;
     margin-bottom: 8px;
     text-decoration: none;
}

.SfHeNc,
.xJLQn {
     margin-bottom: 8px;
     word-break: break-all;
}

.mQAOCc,
.rZArre {
     align-items: center;
     display: flex;
     gap: 8px;
}

.bg-color:hover {
     background: rgba(0, 0, 0, 0.06);
     border-radius: 50%;
}

.NnJuub,
.sQlfnf {
     font-variant-ligatures: none;
     padding-left: 28px;
}

.X4yNFb:hover,
.Qk4pd:hover,
.mQAOCc:hover,
.rZArre:hover {
     color: #0b57d0;
}

/* Privacy */

.privacy {
     border-bottom: 1px solid #c4c7c5;
     box-sizing: border-box;
     margin: 0 auto;
     max-width: 1072px;
}

.privacy-head {
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-weight: 500;
     padding-top: 20px;
}

.privacy-heading {
     font-family: "Google Sans Text";
     font-size: 1.75rem;
     letter-spacing: 0;
     line-height: 2.25rem;
     font-weight: 600;
}

.privacy-content {
     font-family: "Google Sans Text";
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     color: #444746;
     padding-top: 20px;
}

.privacy-flex {
     display: flex;
}

.privacy-left {
     flex: 2;
}

.privacy-right {
     flex: 1;
     padding: 0 16px;
}

.privacy-left-para {
     font-family: "Google Sans Text";
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     color: #444746;
     margin: 0 0 16px;
}

.privacy-left-link {
     color: #444746;
     text-decoration: underline;
}

.privacy-left-heading {
     font-family: "Google Sans Text";
     font-size: 1rem;
     font-weight: 500;
     letter-spacing: 0;
     line-height: 1.5rem;
     margin: 0 0 16px;
}

.personilty {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-bottom: 12px;
}

.personilty-div {
     display: flex;
     align-items: center;
     margin-bottom: 12px;
}

.privacy-left-svg {
     height: 24px;
     margin-right: 8px;
}

.privacy-left-span {
     line-height: 24px;
}

.privacy-btn {
     color: #0b57d0;
     margin-bottom: 24px;
}

.privacy-btn-div {
     display: inline;
}

.privacy-btn-div-span {
     display: inline-flex;
     position: relative;
     align-items: center;
     box-sizing: border-box;
     border: none;
     will-change: transform, opacity;
     background: transparent;
     padding: 8px 18px;
     border-radius: 32px;
}

.privacy-btn-div-span:hover {
     background-color: #f5f6ff;
}

.privacy-btn-div-span::before {
     content: "";
     pointer-events: none;
     position: absolute;
     inset: 0;
     border-radius: inherit;
     border: 1px solid transparent;
}

.privacy-btn-span {
     position: relative;
     text-align: center;
     color: #0b57d0;
     font-size: .875rem;
     font-weight: 500;
     letter-spacing: 0;
}

.privacy-btn-link {
     position: absolute;
     inline-size: max(48px, 100%);
     block-size: max(48px, 100%);
     inset: unset;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.privacy-right-content {
     margin-bottom: 28px;
}

.privacy-right-heading {
     font-family: "Google Sans Text";
     font-size: 1rem;
     letter-spacing: 0;
     line-height: 1.5rem;
     font-weight: 500;
     margin-top: 0;
}

.privacy-right-ul {
     list-style: disc;
     padding-left: 16px;
}

.privacy-right-li {
     margin-bottom: 8px;
}

.privacy-right-li::marker {
     unicode-bidi: isolate;
     font-variant-numeric: tabular-nums;
     text-transform: none;
     text-indent: 0px !important;
     text-align: start !important;
     text-align-last: auto !important;
}

.privacy-right-li-link {
     color: #444746;
     text-decoration: underline;
}

/* Support */

.support {
     border-bottom: 1px solid #c4c7c5;
     box-sizing: border-box;
     margin: 0 auto;
     max-width: 1072px;
}

.support-head {
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-weight: 500;
     padding-top: 20px;
}

.support-heading {
     font-family: "Google Sans Text";
     font-size: 1.75rem;
     letter-spacing: 0;
     line-height: 2.25rem;
     font-weight: 600;
}

.support-para {
     font-family: "Google Sans Text";
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     color: #444746;
     margin-bottom: 24px;
     margin-top: 0;
     padding-top: 20px;
}

.support-link {
     color: #444746;
     text-decoration: underline;
}

/* Related */

.related {
     margin: 0 auto;
     max-width: 1344px;
}

.related-heading {
     font-family: "Google Sans Text";
     font-size: 1.75rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 2.25rem;
     font-weight: 700;
     margin: 24px auto 0;
     max-width: 1072px;
     padding-top: 20px;
}

.carousel {
     width: 79%;
     overflow-x: auto;
     margin: 3em auto;
     display: flex;
     gap: 1em;
     scroll-behavior: smooth;
     anchor-name: --carousel;
     scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
     display: none;
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
     content: '>';
     border: none;
     background: transparent;
     font-size: 2rem;
     color: #1f1f1f;
     border-radius: 50%;
     height: 34px;
     width: 34px;
     cursor: pointer;
     padding-bottom: .1em;
     position: fixed;
     position-anchor: --carousel;
     position-area: right center;
     translate: 0%;
}

.carousel::scroll-button(left) {
     content: '<';
     position-area: left center;
     translate: -32%;
}

.carousel::scroll-button(right):hover {
     background: rgba(0, 0, 0, 0.06);
}

.carousel::scroll-button(left):hover {
     background: rgba(0, 0, 0, 0.06);
}

.extention-card {
     scroll-snap-align: start;
     flex: 0 0 20em;
     align-content: center;
}

.white-img {
     display: flex;
     align-items: center;
     justify-content: center;
     background: white;
     aspect-ratio: 1.5714285714;
     border-radius: 12px;
     width: 100%;
}