@font-face {
     font-family: 'Google Sans Text';
     font-style: normal;
     font-weight: 200;
     src: url(img/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Google Sans Text';
}

.block {
     display: block;
     flex-grow: 1;
     width: 100%;
}

/* Keepa */

.keepa-main-header {
     padding-top: 66px;
}

.keepa-main-content-box {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;
     margin: 0 auto 24px;
     max-width: 1072px;
     position: relative;
}

.keepa-main-content {
     max-width: 1072px;
     width: 100%;
}

/* First line */

.first-line {
     display: flex;
     justify-content: space-between;
     margin-bottom: 24px;
}

.first-line-content {
     align-items: center;
     color: inherit;
     display: flex;
     max-width: 800px;
}

.first-line-img {
     border-radius: 8px;
     height: 60px;
     margin-right: 16px;
     width: 60px;
}

.first-line-heading {
     font-family: 'Google Sans Text';
     font-size: 2rem;
     letter-spacing: 0;
     font-variant-ligatures: none;
     font-weight: 700;
     line-height: 41px;
     margin: initial;
     color: #000;
}

.keepa-btn {
     display: inline-block;
     min-width: 192px;
     padding-top: 6px;
     text-align: right;
}

.keepa-btn-chrome {
     font-family: 'Google Sans Text';
     font-size: 12px;
     font-weight: 600;
     display: inline-flex;
     position: relative;
     align-items: center;
     box-sizing: border-box;
     border: none;
     outline: none;
     background-color: #0b57d0;
     color: #fff;
     padding: 12px 20px;
     border-radius: 30px;
     cursor: pointer;
     transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.keepa-btn-chrome:hover {
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/* Second Line */

.second-line {
     display: flex;
     align-items: center;
     margin-bottom: 12px;
}

.keepa-com {
     display: flex;
}

.keepa-align {
     height: 28px;
     margin-right: 2px;
}

.verify-svg {
     fill: #0b57d0;
     border-radius: 10px;
     padding: 2px;
     box-sizing: border-box;
     cursor: pointer;
}

.verify-svg:hover {
     background-color: rgba(11, 87, 208, 0.08);
     border-radius: 50%;
}

.keepa-a {
     font-family: 'Google Sans Text';
     color: #0b57d0;
     cursor: pointer;
     font-variant-ligatures: none;
     font-size: 16px;
     font-weight: 400;
     margin-right: 16px;
     max-width: 400px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     text-decoration: none;
}

.feature-svg {
     fill: #146c2e;
     border-radius: 10px;
     padding: 2px;
     box-sizing: border-box;
     cursor: pointer;
}

.feature-svg:hover {
     background-color: rgba(244, 248, 242, 0.8);
     border-radius: 50%;
}

.ext-rate {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
}

.rate {
     display: flex;
     align-items: center;
     color: #1f1f1f;
     height: 18px;
}

.rating-span {
     display: flex;
     align-items: center;
}

.rating-digits {
     font-weight: 500;
     margin-right: 2px;
}

.rating-link-span {
     margin-left: 3px;
}

.rating-link {
     color: #0b57d0;
     text-decoration: none;
}

.rating-link-para {
     display: inline;
}

.inline {
     display: inline;
}

.share-btn {
     display: flex;
     gap: 6px;
     font-size: 1rem;
     font-weight: 400;
     margin-inline-start: 4px;
     cursor: pointer;
     outline: none;
     border: none;
     background: transparent;
     padding: 8px 10px;
     border-radius: 20px;
     transition: background-color 0.3s ease, color 0.3s ease;
}

.share-btn:hover {
     background-color: #e8ebff;
}

.share-svg-span {
     display: inline-flex;
     line-height: 0;
     position: relative;
     color: #0b57d0;
}

.share-svg-span svg {
     display: inline-flex;
     position: relative;
     direction: inherit;
     color: inherit;
     font-size: 18px;
     inline-size: 18px;
     block-size: 18px;
}

.share-span {
     color: #0b57d0;
     text-align: center;
}

/* Third Line */

.third-line {
     align-items: center;
     display: flex;
     font-family: 'Google Sans Text';
     font-size: .875rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.25rem;
}

.third-line-link,
.third-line-second {
     background-color: #f0f4f9;
     color: #1f1f1f;
     cursor: pointer;
     text-decoration: none;
}

.third-line-link:hover,
.third-line-second:hover {
     background-color: rgba(0, 0, 0, 0.08);
}

.third-line-link::before,
.third-line-second::before {
     border-radius: inherit;
     content: "";
     display: block;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
}

.third-line-a {
     font-family: 'Google Sans Text';
     font-size: .875rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.25rem;
     border-radius: 8px;
     margin-right: 8px;
     padding: 8px 12px;
     position: relative;
}

.third-line-a:last-child {
     margin-right: 12px;
}

/* Swiper */

.keepa-swiper {
     align-items: center;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     margin: 44px auto;
     max-width: 1344px;
}

.keepa-swiper-div {
     align-items: center;
     display: flex;
     gap: 4px;
     justify-content: center;
     margin-bottom: 24px;
     width: 100%;
}

.arrow-left {
     display: flex;
     justify-content: center;
}

.arrow-left-btn {
     color: #444746;
     align-items: center;
     appearance: none;
     background: transparent;
     border: none;
     box-sizing: border-box;
     cursor: pointer;
     display: inline-flex;
     fill: currentColor;
     justify-content: center;
     line-height: inherit;
     outline: none;
     position: relative;
     text-rendering: inherit;
     user-select: none;
}

.arrow-left-btn::before {
     border-radius: inherit;
     border: 1px solid transparent;
     box-sizing: border-box;
     content: "";
     inset: 0;
     pointer-events: none;
     position: absolute;
     z-index: 1;
}

.arrow-left-btn:hover::before {
     background-color: rgba(0, 0, 0, 0.06);
     border-radius: 50%;
}

.keepa-swiper-container {
     flex: 1;
     max-width: 1256px;
     overflow: hidden;
}

.second-swiper {
     display: flex;
     gap: 3%;
     width: 100%;
     position: relative;
}

.main-img-box {
     align-items: center;
     display: flex;
     filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .3));
     flex-shrink: 0;
     width: 48.5%;
}

.main-img-box-align {
     box-sizing: border-box;
     cursor: pointer;
     max-width: 609px;
     outline: none;
     position: relative;
     width: 100%;
     padding: 8px;
}

.main-img {
     aspect-ratio: 1.6;
     background-color: white;
     border-radius: 6px;
     box-sizing: border-box;
     object-fit: cover;
     width: 100%;
}

.relative {
     position: relative;
}

.play-btn {
     align-items: center;
     background-color: rgba(0, 0, 0, .45);
     border-radius: 50%;
     display: flex;
     height: 56px;
     justify-content: center;
     left: calc(50% - 28px);
     position: absolute;
     top: calc(50% - 28px);
     width: 56px;
}

.IrAx3c {
     color: white;
}

.thumbnail {
     display: flex;
     gap: 3%;
     justify-content: center;
}

.thumbnail-div {
     box-sizing: border-box;
     cursor: pointer;
     flex: 1;
     max-width: 96px;
     min-width: 14%;
     outline: none;
     position: relative;
}

.thumbnail-active {
     border-radius: 6px;
     outline: 3px solid #0b57d0;
}

.thumbnail-img {
     aspect-ratio: 1.6;
     border-radius: 6px;
     display: block;
     width: 100%;
}

.thumbnail-span {
     background-color: white;
     border-radius: 6px;
     inset: 0;
     opacity: 0;
     position: absolute;
}

.thumbnail-span:hover {
     opacity: .24;
}

/* OverView */

.overview {
     border-bottom: 1px solid #c4c7c5;
     box-sizing: border-box;
     margin: 0 auto;
     max-width: 1072px;
}

.overview-head {
     align-items: center;
     display: flex;
     justify-content: space-between;
     font-weight: 500;
}

.overview-heading {
     font-family: 'Google Sans Text';
     font-size: 1.75rem;
     letter-spacing: 0;
     line-height: 2.25rem;
     font-weight: 700;
}

.overview-content {
     font-family: 'Google Sans Text';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5rem;
     padding-bottom: 24px;
}

.overview-paragraphs.overview-para {
     height: 286px;
     mask: linear-gradient(rgb(255, 255, 255) 85%, transparent);
     overflow: hidden;
}

.overview-paragraphs {
     font-variant-ligatures: none;
     margin-bottom: .75rem;
     white-space: pre-wrap;
}

.overview-see {
     color: #444746;
     text-decoration: underline;
     cursor: pointer;
     padding: .75rem 0;
     width: fit-content;
}

.overview-hide {
     display: none;
}